/* font style css */
/* Paragraf 1 */
.p1 {
    font-size: 20px;          /* px */
    font-weight: bold;
    font-style: normal;
    font-family: Arial, sans-serif;
}

/* Paragraf 2 */
.p2 {
    font-size: 1.5em;         /* em */
    font-weight: lighter;
    font-style: italic;
    font-family: "Times New Roman", serif;
}

/* Paragraf 3 */
.p3 {
    font-size: 120%;          /* % */
    font-weight: 500;
    font-style: oblique;
    font-family: "Courier New", monospace;
}

/* Paragraf 4 */
.p4 {
    font-size: 18pt;          /* pt */
    font-weight: bolder;
    font-style: normal;
    font-family: Verdana, sans-serif;
}

/* Paragraf 5 */
.p5 {
    font-size: 2rem;          /* rem */
    font-weight: normal;
    font-style: italic;
    font-family: "Comic Sans MS", cursive;
}